#summary-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 50%;
    margin: 0;
    padding: 0;
}

#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #636f96;
    padding: 40px 50px;
    border-radius: 5px;
    margin: 0;
    width: 200px;
    height: 120px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 0;
}