html, body {
    height: 98vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#analytics{
    flex-direction: column;
    margin-left: auto;
    max-width: 100%;
    text-align: left;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    margin-left: auto;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    display: flex;
} 

#line-graph{
    overflow: hidden;
    border: none;
    width: 100%;
    flex: 1;
    min-height: 0;
}