html, body {
    height: 98vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#analytics{
    flex-direction: column;
    margin-left: auto;
    max-width: 100%;
    text-align: left;
    background-color: rgb(163, 157, 150);
    padding-left: 10px;
    margin-left: auto;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
} 
