html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0
    
}
.hide-scrollbar {
    overflow: hidden;
    height: 100vh;  
    margin: 0;       
}
body{
    margin: 0;
    padding: 0;
}
#main-div{
    background: #636f96;
    padding: 10px;
    border-radius: 20px;
    margin: 0px;
    display: flex;
    align-items: center;
}
.search-box {
            display: flex;
            width: 100%;
            max-width: 400px; 
            background: white;
            border-radius: 25px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
            overflow: hidden; 
        }