html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0
    
}
.hide-scrollbar {
    overflow: hidden;
    height: 100vh;  
    margin: 0;       
}
body{
    margin: 0;
    padding: 0;
}
#main-div{
    background: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-div > div {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
    margin-right: 20px;
}

.search-box {
    display: flex;
    width: 100%;
    max-width: 400px; 
    background: white;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    overflow: hidden; 
}

.menu-icon {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 3px; 
    background-color: #333; 
    border-radius: 3px; 
    transition: all 0.3s ease; 
}