html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: #e1e1e1;
    margin: 0;
    padding: 0
    
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
body{
    margin: 0;
    padding: 0
}