html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0
    
}
.hide-scrollbar {
    overflow: hidden;
    height: 100vh;  
    margin: 0;       
}
body{
    margin: 0;
    padding: 0;
}
div{
    background: #636f96;
    padding: 20px;
    border-radius: 100px;
}