html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: #e1e1e1;
    overflow: hidden;
}

body {
    overflow: hidden;
}

#top-bar {
    border-bottom: 1px solid #c1c1c1;
    margin: 0;
    padding: 0;
    border: none;
}

#content-container {
    display: flex;
    height: calc(100vh - 85px);
    width: 100%;
}

#left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#summary {
    width: 100%;
    height: 150px;
    margin-top: 0%;
    border: none;
}

#customer-table {
    flex: 1;
    width: 99.5%;
    min-height: 400px;
    background: white;
    border: none;
    margin-right: 5px;
    margin-left: 1px;
    margin-bottom: 18px;
    border-radius: 1cm;
}

#analytics{
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    border: none;
}