html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: #e1e1e1;
}

#top-bar {
    border-bottom: 1px solid #c1c1c1;
    margin: 0;
    padding: 0
}

#content-container {
    display: flex;
    height: calc(100vh - 85px);
    width: 100%;
}

#summary {
    flex: 1;
    width: 50%;
}

#analytics{
    flex: 1;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}