html{
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 1px;
    background: white;
}

#customer-table {
    background: white;
    padding: 1px;
    padding-left: 25px;
}