html{
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 1px;
    background: white;
}

#customer-table {
    background: white;
    padding: 1px;
    padding-left: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#navigations-btn-cell{
    padding: 20px;
    background-color: rgb(10, 114, 107);
    color: white;
    border-radius: 5px;
    margin: 10px;
}